header{
  background-color:rgb(115, 36, 189);
  min-height: 100px;
  color: white;
}
main{
  min-height: 368px;
}
footer{
  background-color:blue;
  min-height: 100px;
  color: white;
}
.tbdr_border{
  border: 1px dashed red;
  min-height: 350px;
}